body {
    margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
    background: #ffc2d1 ;

    background-position: center;
}
.design{
    width: 300px;
    height: 300px;
    position: absolute;
}

#music{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 3px black);
    margin-left: 20px;
}
.container{
    margin-top: 5px;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.timer{
    box-shadow:  0px 0px 10px black inset;
    padding: 3% 10%;
    border-radius: 5px;
     color: #7b365d;
    text-shadow: 1px 1px 1px #ffa2b9;
    backdrop-filter: blur(2px)
}
#clock{
    font-size: 100px;
}

#day{
    position: relative;
    top: -65px;
    left: -175px;
}
.play{
    margin-top: 20px;
    display: flex;
    z-index: 1;
}
.play > h1{
    position: absolute;
    bottom: 225px;
    left: 52rem;
    font-size: 60px;
    color: #fae8ed;
}
.play:active>h1{
 color: #7b365d;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b365d;
}